<section class="main-content">
    <h1>Bienvenue sur Shop à Max</h1>
    <p>Découvrez notre large gamme de produits de qualité.</p>

    <div class="about-us">
        <h2>À propos de nous</h2>
        <p>Shop à Max est votre destination idéale pour trouver une variété de produits de haute qualité. Nous nous engageons à offrir une expérience de magasinage exceptionnelle à nos clients.</p>
    </div>

    <div class="services">
        <h2>Nos services</h2>
        <ul>
            <li>Livraison rapide ou pas on à pas de livreur </li>
            <li>Produits de qualité pour nous après si c'est pas de la qualiter on repassera</li>
            <li>Service clientèle exceptionnel pour les 2 client qui on acheter chez nous</li>
        </ul>
    </div>

    <div class="contact-info">
        <h2>Contactez-nous</h2>
        <p>Pour toute question ou assistance, n'hésitez pas à nous contacter :</p>
        <p>Téléphone: On en à pas on est désoler mais on ira plus loin un jour </p>
    </div>
</section>