div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

div>div {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #3490dc;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
}